h1 {
    color:dodgerblue;
   }

h2{
    color:deepskyblue;
  }
h3{
  color:lightskyblue;  
  }

p{
    color:mediumblue
}

header{
    color:mediumblue
}

#h2{
    color:green;
   }
.list{
       color: mediumvioletred;
     }